*{
    margin: 0;
    padding: 0;
background-image: linear-gradient(to right,
				#101041, #161a54, #1a2567, #1d307c, #1e3c91, #254599, #2d4fa2, #3458aa, #4461a7, #5269a3, #60729f, #6d7a9b);
     color: white;
}
.myhead{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 20px 10px;
background: rgba(15, 14, 14, 0.121);
 color: rgb(23, 23, 194);
width: 100%;
}
.navbar{
    padding: 20px;
    display: flex;
    margin-right: 25px;
    gap: 20px;
    background: rgba(255, 255, 255, 0.099);
    
}


.navbar a{
    text-decoration: none;
}

.navbar a:hover{
color: #00d2ff; 
transform: scale(1.1);
}



.hero {
    height: 50vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: left;
    gap: 50px;
    padding: 20px;

}
img{
    max-width: 400px;
    border-radius: 10px;
}
.hero-content .text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.hero-content {
    max-width: 800px;
    padding: 40px;
    background-color: (255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}
.btn {
    margin-top: 20px;
    padding: 12px 30px;
    background: #00d2ff;
    border: none;
    border-radius: 25px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.btn:hover { transform: scale(1.1); 
}



.Features { padding: 80px 10%;
  display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 25px;
}
.card {
    background: rgba(48, 27, 123, 0.08);
    backdrop-filter: blur(12px);
    padding: 30px;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
    transition:  0.5s ease-in-out;
}
.card:hover {
    transform: translateY(-10px) scale(1.2);
    background: rgba(4, 3, 58, 0.15);
}



footer {
    text-align: center;
    padding: 40px;
    background: rgba(255, 255, 255, 0.05);
}
.nav-foot{
display: flex;
justify-content: center;
gap: 20px;
margin-bottom: 10px;
}
.nav-foot a{
    text-decoration: none;
}
.nav-foot a:hover{
    color: #00d2ff; 
transform: scale(1.1);
}

				

